<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<?include ../Includes.wxi?>

	<Fragment>
		<!-- Regs for shortcuts are defined in "Fragments/ShortcutProperties.wxs" -->
		<!-- Component that persists the property values to the registry so they are available during an upgrade/modify -->
		<DirectoryRef Id="INSTALLFOLDER_INNER">
			<Component Id="Product.Registry.InstallFolder" Guid="f760203d-1e63-571c-8b16-c635bbf4f6c4">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)">
					<RegistryValue Type="string" Name="INSTALLFOLDER" Value="[INSTALLFOLDER_INNER]" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.DefaultIcon" Guid="c9df307a-53fd-56fe-a25c-0b031550cdae">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\DefaultIcon">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe",0' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.CommandPlay" Guid="1ed8797d-b14a-5ea7-9f50-c64736136f57">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe" --play "%1"' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.URLProtocol" Guid="6778a70e-d8c4-5979-bfa9-4c0bad4e7baf">
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)">
					<RegistryValue Type="string" Name="URL Protocol" Value="" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.Command" Guid="a5587fc4-f4fd-5f2f-8bbb-d04fbe5b31e1">
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe" "%1"' />
				</RegistryKey>
			</Component>

			<!--For compatibility with registry values from previous versions-->
			<Component Id="Product.Registry.UninstallApp" Guid="7d887de3-b179-5356-b19c-4fe724ca34a4">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.Product)" >
					<RegistryValue Type="string" Name="BuildDate" Value="$(var.BuildDate)" />
					<RegistryValue Type="string" Name="share_rdp" Value="" />

					<!--$ArpStart$-->
					<!--$ArpEnd$-->
				</RegistryKey>
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
